/* ############# Required files ############## */
@import url('components/browser.css');
@import url('components/toolbar.css');


/* ############# Optional files ############## */
/* For making urlbar text centered */
@import url('components/optional/urlbar_centered_text.css');


/* Remove any sidebar header to make it more clean*/
@import url('components/optional/remove-sidebar-header.css');

/* if using a sidebar tab manager (ex. Sidebery) - remove tabs toolbar - NOT NEEDED IF USING NATIVE VERTICAL TABS */
@import url('components/optional/remove-tabs.css');



/* ############# Theme variables ############## */
@media (prefers-color-scheme: dark) {
   :root {
     --accent-color: rgb(from color-mix(in srgb, var(--toolbar-bgcolor) 95%, white) r g b / 100%);
   }
}

@media (prefers-color-scheme: light) {
   :root {
     --accent-color: rgb(from color-mix(in srgb, var(--toolbar-bgcolor) 75%, black) r g b / 100%);
   }
}

:root{
   /* Space between toolbars and browser, or toolbars and edge of the screen */
   --outside-padding-margin: 0.5rem;

   /* For like the bropwser container, or like the sidebar rounded corners */
   --outside-border-radius: 0.5rem;

   /* Space between urlbar and browser */
   --margin-between-toolbar-and-browser: 0.5rem;

   /* For the space between the browser and the sidebars recommended to be 0.2 or more */
   --margin-between-containers: 0.5rem;

   /* For buttons, inputs, etc */
   --inside-border-radius: 1rem;
}

/* When in fullscreen mode, remove padding and border radius */
:root:is([inDOMFullscreen="true"]) {
   --outside-padding-margin: 0;
   --outside-border-radius: 0;
}

/* Set the background color of the browser */
#main-window{
   appearance: none !important;
   background-color: var(--accent-color) !important;
}
