/* ############# Required files ############## */
@import url('components/browser.css');
@import url('components/toolbar.css');


/* ############# Optional files ############## */
/* For making urlbar text centered */
/* @import url('components/urlbar_centered_text.css'); */


/* Remove any sidebar header to make it more clean*/
/* @import url('components/remove_sidebar_header.css'); */


/* For making main toolbar (urlbar, searchbar, etc) appear and dissapear with mouse */
/* @import url('components/autohide_bookmarks_and_main_toolbars.css'); */


/* if using a sidebar tab manager - remove tabs toolbar (you still need the top files uncommented) */
/* @import url('components/remove_tabs/toolbars.css');
@import url('components/remove_tabs/window_control_placeholder_support.css'); */

@media (prefers-color-scheme: dark){ :root{
   --accent-color: color-mix(in srgb, var(--toolbar-bgcolor) 86%, white);
}}
@media (prefers-color-scheme: light){ :root{
   --accent-color: color-mix(in srgb, var(--toolbar-bgcolor) 86%, black);
}}

:root{
   /* Space between toolbars and browser, or toolbars and edge of the screen */
   --outside-padding-margin: 0.5rem;

   /* For like the bropwser container, or like the sidebar rounded corners */
   --outside-border-radius: 0.5rem;

   /* Space between urlbar and browser */
   --margin-between-toolbar-and-browser: 0.5rem;

   /* For the space between the browser and the sidebars recommended to be 0.2 or more */
   --margin-between-containers: 0.5rem;

   /* For buttons, inputs, etc */
   --inside-border-radius: 1rem;
}

:root:is([inDOMFullscreen="true"]) {
   --outside-padding-margin: 0;
   --outside-border-radius: 0;
}

html{
   background-color: var(--accent-color) !important;
}

#navigator-toolbox{
   margin: var(--outside-padding-margin);
   margin-bottom: var(--margin-between-toolbar-and-browser) !important;
   background-color: transparent;
   border-radius: var(--outside-border-radius) !important;
   overflow: hidden !important;
   border: 0;
}
