#main-window{
    min-width: 732px !important;
}

#main-window[chromehidden~="location"] {
    min-width: 201px !important;
}

#TabsToolbar{
    visibility: collapse !important;
}

#nav-bar{
    background-color: transparent !important;
    color: inherit;
}

#nav-bar .titlebar-buttonbox-container{
    display: flex !important;
}

#main-window[privatebrowsingmode="temporary"] #nav-bar .private-browsing-indicator-with-label {
    display: flex !important;

    .private-browsing-indicator-label{
        display: none !important;
    }
}
