#browser{
    background-color: transparent !important;
    background-image: none !important;
    padding: var(--outside-padding-margin) !important;
    padding-top: 0 !important;

    #sidebar-main{
        background-color: var(--sidebar-background-color) !important;
        border-radius: var(--outside-border-radius) !important;
        overflow: hidden !important;
    }

    &:not(.browser-toolbox-background){
        #sidebar-main{
            margin-right: var(--outside-padding-margin) !important;
        }
    }

    #tabbrowser-tabbox{
        outline: none !important;
        box-shadow: none !important;
    }

    #tabbrowser-tabpanels{
        background-color: transparent !important;
    }

    .browserContainer{
        border-radius: var(--outside-border-radius) !important;
        overflow: hidden !important;
    }

    #sidebar-box,
    .devtools-toolbox-side-iframe,
    .devtools-toolbox-bottom-iframe,
    .browserStack{
        border-radius: var(--outside-border-radius) !important;
        overflow: hidden !important;
    }

    .sidebar-splitter,
    .devtools-side-splitter,
    .devtools-horizontal-splitter{
        background-color: transparent !important;
        border: 1px !important;
    }


    .sidebar-splitter,
    .devtools-side-splitter{
        width: var(--margin-between-containers) !important;
        max-width: var(--margin-between-containers) !important;
        margin-inline-start: 0 !important;
        margin-inline-end: 0 !important;
    }

    .devtools-horizontal-splitter{
        height: var(--margin-between-containers) !important;
        max-height: var(--margin-between-containers) !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

#sidebar-box{
    @media (-moz-bool-pref: "sidebar.revamp") {
        padding: 0 !important;
    }
}

:root[chromehidden~="location"] {
    #browser{
        padding: 0 !important;

        .browserContainer{
            border-radius: 0 !important;
        }

        .browserStack{
            border-radius: 0 !important;
        }
    }
}
