#sidebar-box {
  overflow: hidden !important;
  background-color: var(--auto-general-color) !important;
  border-radius: var(--outside-border-radius) !important;
  border-color: var(--auto-accent-color) !important;
}
.sidebar-splitter{
  width: var(--margin-between-containers) !important;
  background-color: var(--auto-accent-color) !important;
  border-color: var(--auto-accent-color) !important;
  margin-inline-start: 0px !important;
}

/* Devtools sidebar */
.devtools-toolbox-side-iframe {
  margin-left: var(--margin-between-containers) !important;
  overflow: hidden !important;
  border-radius: var(--outside-border-radius) !important;
}
