#navigator-toolbox{
    margin: var(--outside-padding-margin);
    margin-bottom: var(--margin-between-toolbar-and-browser) !important;
    border-radius: var(--outside-border-radius) !important;
    overflow: hidden !important;
    border: none !important;
}

:root[chromehidden~="location"] {
    #navigator-toolbox{
        margin: 0 !important;
    }
}
@media (-moz-gtk-csd-available) {
    .titlebar-button{
        padding: 0 !important;

        .toolbarbutton-icon{
            width: 35px !important;
            height: 100% !important;
            border-radius: 0 !important;
        }
    }
}

/* ###### URL BAR ###### */
.urlbarView-row[selected],
.urlbarView-row:hover {
    border-radius: var(--inside-border-radius) !important;
}

.searchbar-engine-one-off-item[selected],
.searchbar-engine-one-off-item:hover {
    border-radius: var(--inside-border-radius) !important;
}

.urlbarView-button-menu:hover {
    border-radius: var(--inside-border-radius) !important;
}

#urlbar-background, #urlbarView {
    outline: 0 !important;
    border-radius: var(--inside-border-radius) !important;
}

#urlbar-input-container{
    border-radius: var(--inside-border-radius) !important;
}

.urlbarView-row[selected] .urlbarView-row-inner {
    border-radius: var(--inside-border-radius) !important;
}

.searchbar-engine-one-off-item[selected] {
    border-radius: var(--inside-border-radius) !important;
}

#identity-icon-box{
    border-radius: calc(var(--inside-border-radius) * 0.8) !important;
}
