#navigator-toolbox, #navigator-toolbox-background{
    background-color: var(--auto-accent-color)  !important;
    border-color: var(--auto-accent-color) !important;
    box-shadow: 2px var(--auto-accent-color);
}

#TabsToolbar {
    margin: var(--outside-padding-margin) !important;
    margin-bottom: var(--margin-between-toolbars) !important;
    border-radius: var(--outside-border-radius) var(--outside-border-radius) 0 0 !important;
    background-color: var(--auto-general-color) !important;
    overflow: hidden !important;
    padding: 0 !important;
}

/* Nav-bar */
.browser-toolbar:not(.titlebar-color) {
    margin: var(--outside-padding-margin) !important;
    margin-top: 0px !important;
    margin-bottom: var(--margin-between-urlbar-and-browser) !important;
    border-radius: 0 0 var(--outside-border-radius) var(--outside-border-radius) !important;
    background-color: var(--auto-general-color) !important;
}
